<footer id="footer">
    <div class="outer">
        <div id="footer-info" class="inner">
            <!--不蒜子统计-->
            <script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
            <span id="busuanzi_container_site_pv">site_pv:<span id="busuanzi_value_site_pv"></span>&nbsp;site_uv:<span id="busuanzi_value_site_uv"></span></span><br>
            <!--添加备案号-->
            &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>&nbsp;豫ICP备16021043号-2<br>
            <!--Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>. Theme by <a href="http://github.com/ppoffice">PPOffice</a>-->
            <!--Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>. Theme by <a href="https://github.com/ppoffice/hexo-theme-icarus" target="_blank">hexo-theme-icarus</a>-->
            Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>. Theme by hexo-theme-icarus
        </div>
    </div>
</footer>